
p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);

}

.form-element{
    border: solid 5px orange;
    border-radius: 20px;
}

#nav-bar{
    background-color: lightcoral;
    background-size: auto;
}

#video-prueba{
    max-width: 30%;
    max-height: 30%;
}

#sobre-nosotros:link{
    color: white;
}

#sobre-nosotros:visited{
    color: black;
}

#sobre-nosotros:hover{
    color: blue;
}

#sobre-nosotros:focus{
    color: hotpink;
}

#sobre-nosotros:active{
    color: green;
}

#profile-github:link{
    color: white;
}

#profile-github:visited{
    color: black;
}

#profile-github:hover{
    color: blue;
}

#profile-prueba:focus{
    color: black;
}

#profile-github:active{
    color: green;
}