/*border. It applies a border style to images. For classes, we use "figure img", being figure the father, and img the child*/
/*To interact with different descendants, we use: > for the direct child (el primero identado en una clase o elemento)
Then, we use + (for example, img + figcaption) for the second. If you want to apply something except for the first, you do ~.

If I want to apply only a small style change to a text, we use inline elements. For example: <span style="color: red; border: 2px">red</span>
DIV IS MAINLY USED FOR LAYOUT PURPOSES.

For all p elements in a class, you put .class p{}
*/

/*text-decoration: none to remove any default lines or underlines of text*/

/*In terms of specificity, the highest is the inlines, followed by IDs, class selector, attribute selector
, pseudo-classes (:hover) and finally type selector (the tags of html). The lowest one is the * selector, with value of (0,0,0,0)*/


/*at a high level, the relevance filters the styles that should apply to elements. Then it evaluates the origin and importance.
It follows the specificity, reading hierarchy of appliance. Finally, the order of appearance orders that when two rules have the
same specificity, then the one that appears last will be applied.
 */

/*To inherit some elements, you need to specify it. For example, if the main one has a style of padding: 20px, you can
use padding: inherit. Some elements are inherited and some are not.*/

/*Use line-height to properly space out elements. However, margin or padding is preferred*/

/*For lists, list-style is used. There is list-style-type/position/image to personalize the bullets of the lists*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif; /*The comma is for instances where the initial is not found or available*/
    font-style: normal; !important; /*This overrides the hierarchy of styles. This is used to override third-party or as a temporary fix*/
    background: linear-gradient(to right, lightsalmon, lightgreen);
    /*radial-gradient is also useful for this.*/
    height: 40vh;
    /*background-image: url() this can be used for background images*/
    /*background-size: contain; to scale the image without cropping or stretching it. Use cover to maintain aspect ratio and only one*/
    /*background-repeat: no-repeat; to avoid repeating. To only repeat horizontally, use background-repeat: repeat-x*/
    /*background-position: center top; to center the background*/
    /*background attachment: scroll or fixed, to move or not with the scroll website*/
    /*you can combine all of them with the background: center top fixed url()*/
    /*min-heigh: 100px; */
    /*The WCAG recommends 4.5:1 ratio for contrast in normal text, and 3:1 for large text. Avoid using just colors to indicate important information*/
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0, 0);

}

#navbar, #video-prueba{ /*it applies to both*/
    text-align: center; /*For aligning text. vertical alignment is useful to fill a form or contact element.*/
    border-color: antiquewhite;
    cursor: pointer;
    /*You can also do border-top, bottom etc with solid, dashed, dotted or double*/
    /*outline and border-radius are also other ways to create a border*/
}

#navbar{
    /*flex-wrap: wrap; is to allow items to bread onto multiple lines*/
}

.form-element{
    border: solid 5px orange;
    border-radius: 20px;
}

#navbar{
    background-color: lightcoral;
    background-size: auto;
}

#video-prueba{
    max-width: 30%; /*width: unset is to remove the rule previously done*/
    max-height: 30%;
}

#sobre-nosotros{
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: lightgray;
    border-radius: 15px;
    padding: 0.6rem 1.5rem;

}

#sobre-nosotros:link{
    color: white;
}

#sobre-nosotros:visited{
    color: black;
}

#sobre-nosotros:hover{
    color: blue;
}

#sobre-nosotros:focus{
    color: hotpink;
}

#sobre-nosotros:active{
    color: green;
}

#profile-github:link{
    color: white;
}

#profile-github:visited{
    color: black;
}

#profile-github:hover{
    color: blue;
}

#profile-prueba:focus{
    color: black;
}

#profile-github:active{
    color: green;
}

.inline-block-element{
    display: inline-block; /*While the inline cannot have controlled size, the inline-block lets you do it.*/
    width: fit-content;
    height: fit-content;
}

.element1{
    background-color: lightblue;
    margin: 20px 25px 30px 35px; /*If its only margin, its applied to all. The order is top, right, bottom, left.*/
    padding: 5px 10px 5px 10px; /*this is only for spacing between the content and its border*/
}

.element2{
    background-color: lightcoral;
}